<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>aymatic</name>
	<displayName><![CDATA[aymaticprestashop]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[aymatic video using API.]]></description>
	<author><![CDATA[WeLoTech]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>